{% extends "BootFile.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sql Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2  class="text-center cursive">What is SQL...</h2>
    <div>
    <ol  class="text-justify  margin  font-size">
        <li>SQL stands for Structured Query Language.</li>
        <li>SQL lets you access and manipulate databases.</li>
        <li>SQL became a standard of the American National Standards Institute (ANSI) in 1986,
            and of the International Organization for Standardization (ISO) in 1987.
        </li>
    </ol>
    </div>


    <h1  class="text-center cursive">What Can SQL do...</h1>
    <div class="background-color">
    <ol  class="text-justify  margin  font-size">
        <li>SQL can execute queries against a database.</li>
        <li>SQL can retrieve data from a database.</li>
        <li>SQL can insert records in a database.</li>
        <li>SQL can update records in a database.</li>
        <li>SQL can delete records from a database.</li>
        <li>SQL can create new databases.</li>
        <li>SQL can create new tables in a database.</li>
        <li>SQL can create stored procedures in a database.</li>
        <li>SQL can create views in a database.</li>
        <li>SQL can set permissions on tables, procedures, and views.</li>
    </ol>
    </div>
</body>
</html>

{% endblock %}